h1 {
    font-size: 2.4rem;
}
main {
    padding-top: 0;
    justify-content: flex-start;
}
.container-large {
    width: 90%;
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.container-flex-wrap {
    z-index: 100;
    grid-column-gap: .75rem;
    grid-row-gap: .75rem;
    text-align: center;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    display: flex
;
}
.heading-style-h4 {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.5;
    color: var(--site-color-01);
}
.header-text-large {
    font-size: 2.4rem;
}
.header-text-small {
    font-size: 1rem;
}
.container-flex-wrap {
    grid-column-gap: .75rem;
    grid-row-gap: .75rem;
    text-align: center;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}
.body-img-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    padding-top: 4rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
}
.gallery-body-header {
    padding-top: 10rem;
    padding-bottom: 0;
}