/* GENERAL */
main {
    z-index: 0;
    width: 100%;
    min-height: 100vh;
    /* height: calc(100vh - 5rem); */
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    background-color: #f3f6f7;
    justify-content: center;
    background-position: bottom;
}
img {
    vertical-align: middle;
    max-width: 100%;
    display: inline-block;
}
h2 {
    font-size: 2rem;
}
h4 {
    font-size: 1.125rem;
    line-height: 1.5rem;
}
.header-style-h1 {
    font-size: 4rem;
    font-weight: 600;
    line-height: 1.2;
}
/* HERO SECTION */
.main-hero {
    z-index: 500;
    width: 100%;
    height: 100vh;
    background-image: url(https://cdn.prod.website-files.com/6408a31d539dcd1879171bbb/6408a31d539dcd707d171c24_amelia-aesthetics-home-hero.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 65%;
    justify-content: center;
    align-items: center;
    display: flex;
}
.main-hero-overlay {
    z-index: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(90deg, #00395299 48%, #00395233);
    justify-content: center;
}
.main-hero-text {
    z-index: 1;
    width: 80%;
    position: absolute;
    color: white;
    justify-content: space-between;
}
.h2-hero {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.5;
}
.h1-hero {
    font-size: 3rem;
    font-weight: 600;
    line-height: 1.2;
}
.text-size-medium-hero {
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.main-hero-text-buttons {
    width: 25%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    display: flex;
    column-gap: 1rem;
}
.button {
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    background-color: #003952;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
    text-align: center;
    cursor: pointer;
}

/* GALLERY SECTION */
.index-gallery {
    width: 100%;
    background-color: #f3f6f7;
}
.index-gallery-component {
    width: 100%;
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.index-gallery-component-text-box {
    padding: 0 2rem;
    text-align: center;
}
.h2-gallery {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.5;
    color: var(--site-color-01);
}
.text-size-medium-gallery {
    font-size: 2.4rem;
    margin-bottom: 1rem;
}
.index-gallery-component-img-box {
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1rem;
    row-gap: 1rem;
    padding: 2rem 4rem;
    /* background-color: blue; */
    overflow: hidden;
    justify-content: center;
    display: grid;
}
.index-gallery-component-img-box img {
    width: 100%;
    border-radius: 1rem;
}
/* PROCEDURES SECTION */
.index-procedures {
    width: 100%;
    background-color: #f3f6f7;
    padding-top: 5rem;
    padding-bottom: 5rem;
    display: flex;
    justify-content: center;
}
.index-procedures-component {
    /* background-color: blue; */
    width: 90%;
    max-width: 80rem;
    background-color: white;
    padding: 4rem;
    border-radius: 2rem;
    flex-direction: column;
    margin-left: auto !important;
    margin-right: auto !important;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    display: flex;
    position: relative;
    
}
.index-procedures-component_top {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.index-procedures-component-text-box {
    align-items: flex-start;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-right: 2rem;
}
.index-procedures-component-img-box {
    display: flex;
}
.index-procedures-component-img-box img{
    border-radius: 1rem;
    display: flex;
}
.h2-procedures {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.5;
    color: var(--site-color-01);
}
.text-size-medium-procedures {
    font-size: 2.4rem;
    margin-bottom: 1rem;
}
.text-size-small-procedures {
    font-size: 1rem;
    margin-bottom: 1rem;
}
.index-procedures-component_bottom {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-auto-columns: 1fr;
    margin-top: 4rem;
    display: grid;
}
.service-card {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    border: 1px solid #a0a0a0;
    border-radius: 2rem;
    padding: 2.5rem 1.5rem;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    display: flex;  
}
.service-card_link {
    cursor: pointer;
}
.service-card_image {
    width: 8rem;
    min-width: 8rem;
    height: 8rem;
    min-height: 8rem;
}
.service-card_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.service-card_content {
    grid-column-gap: .75rem;
    grid-row-gap: .75rem;
    text-align: left;
    flex-direction: column;
    align-items: flex-start;
    display: flex;
}
.service-card_content .service-card_button {
    color: var(--site-color-01);
}
/* PERSONNEL SECTION */
.personnel-component_text {
    text-align: center;
    align-items: center;
    flex-direction: column;
    display: flex;
}
.personnel-component_text p {
    
}
.personnel-button {
    max-width: 20rem;
    margin-top: 1rem;
}
.personnel-component_image-grid {
    column-gap: 2rem;
    row-gap: 2rem;
    margin-top: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
}
.personnel-component_image-grid img {
    border-radius: 1rem;
}
.personnel-node_link {
    cursor: pointer;
}
/* MAP SECTION */
.index-map {
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.map-component_text {
    padding-bottom: 2rem;
    text-align: center;
    align-items: center;
    flex-direction: column;
    display: flex;
}
.map-component_map{
    
    /* background-color: red; */
}


@media only screen and (max-width: 991px) {
    .index-procedures-component {
        padding: 2rem;
    }
    .index-procedures-component_top {
        grid-template-columns: 1fr;
    }
    .index-procedures-component_bottom {
        grid-template-columns: 1fr;
    }
    .index-gallery-component-img-box {
        width: 100%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        column-gap: 1rem;
        row-gap: 1rem;
        padding: 2rem 2rem;
        /* background-color: blue; */
        overflow: hidden;
        justify-content: center;
        display: grid;
    }
    .personnel-component_image-grid {
        column-gap: 2rem;
        row-gap: 2rem;
        margin-top: 2rem;
        grid-template-columns: 1fr 1fr;
        display: grid;
    }
    .map-component_map iframe {
        width: 100%;
        height: 20rem;
    }
}