
.grid_procedures {
    padding: 4rem;
    display: grid;
    background-color: var(--site-color-01);
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr)) ;
    gap: 2rem;
    grid-auto-columns: 1fr;
}
  
.grid_procedures > .procedure_card {
    background-color: #f1f1f1;
    border-radius: 15px;
    position: relative;
    aspect-ratio: 3.18 / 4;
}

.g_image_background{
    position: absolute;
    border-radius: inherit;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
